<h1 style='margin: 5px;'>Olá, <%= nome+' ' %><%= sobrenome %></h1>

<div>
        <h3><%= nome %>,para alterar sua senha click <a href="<%= app %>/reset/<%= id %>/<%= token %>">aqui</a>.</h3>
            
</div>





