<%- include('../partials/header') %> 
<main>
  <div id="accordion">
      <section class='container-fluid'>
      <div class="cont">

              <div class='item'>
              <div class="btn btn collapsed" id="headingOne" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      
                      <div class='card'>
                          <img src="/images/svg/user.svg" class="card-img-top" alt="imagem de usuário">
                          <img src="/images/svg/heart.svg" alt="coração batendo" id='heart'>
                          <div class="card-body">
                              <p class="card-text">Eu</p>
                          </div>
                      </div>

                    </div>
              </div>

                <div class='item'>
                <div class="btn" id="headingTwo" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class='card'>
                      <img src="/images/svg/email.svg" class="card-img-top" alt="carta que simboliza um email">
                      <div class="card-body">
                          <p class="card-text">Mensagens</p>
                      </div>
                  </div>
                </div>
              </div>

                
              <div class='item'>
                <div class="btn" id="headingThree" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <div class='card'>
                      <img src="/images/svg/notification.svg" class="card-img-top" alt="sino de notificação">
                      <div class="card-body">
                          <p class="card-text">Alertas</p>
                      </div>
                  </div>
                </div>
              </div>

              <div class='item' >
                  <div class="btn" id="headingFour" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          
                      <div class='card'>
                          <img src="/images/svg/copy.svg" class="card-img-top" alt="símbolo de cópia com duas folhas">
                          <div class="card-body">
                              <p class="card-text">Anúncios</p>
                          </div>
                      </div>
                    
                  </div>
                </div>

                <div class='item' >
                  <div class="btn" id="headingFive" role="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          
                      <div class='card'>
                          <img src="/images/svg/plus.svg" class="card-img-top" alt="sinal de adição">
                          <div class="card-body">
                              <p class="card-text">Criar Anúncio</p>
                          </div>
                      </div>
                    
                  </div>
                </div>

                <div class='item'>
                  <div class="btn btn" id="headingSix" role="button" data-toggle="collapse" data-target="#collapseSix"  aria-expanded="false" aria-controls="collapseSix">
          
                      <div class='card'>
                          <img src="/images/svg/logout.svg" class="card-img-top" alt="imagem de porta de saída">
                          <div class="card-body">
                              <p class="card-text">Sair</p>
                          </div>
                      </div>
                    
                  </div>

          </div>

      </div>
      </section>
            <section id='content'>
              <div class="container">
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                          <div class="col-md-4 col-sm-12">

                              <h2>Dados pessoais</h2>
                              <input type="text"  name="name" readonly id="name" aria-label="nome" placeholder="<%= user.nome %>">
                              <input type="text"  name="surname" readonly id="surname" aria-label="sobrenome" placeholder="<%= user.sobrenome %>">
                              <input type="text"  name="email" readonly id="email" aria-label="e-mail" placeholder="<%= user.email %>">
                              <div class='button text-center'>
                                <button class='btn btn-primary' data-toggle="modal" data-target="#exampleModal" >
                                    Alterar dados
                                </button>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <form action="" method="get">

                              <h2>Alteração de senha</h2>
                              <input type="text" name="pass" id="pass" aria-label="senha atual" placeholder="senha atual">
                              <input type="text" name="new-pass" id="new-pass" aria-label="nova senha" placeholder="nova senha">
                              <input type="text" name="conf-new-pass" id="conf-new-pass" aria-label="confirmar senha" placeholder="confirmar nova senha">
                              <div class='button text-center'>
                                <button type='submit' class='btn btn-primary'>
                                    Alterar senha
                                </button>
                            </div>
                          </form>
                          </div>


                          <div class="col-md-4 col-sm-12" id='avatar'>
                              <div id='user-img'>
                                <h2>Avatar</h2>

                                <figure>
                                    <img src="/images/svg/profile-user.svg" alt="imagem do perfil do usuário">
                                </figure>
                              </div>
                            
                                  <form action="/" method="get">
                                    <input type="file" class='form-control' name="foto" id="input-image">
                                    <div id='label-1'>
                                        <label for="input-image">Anexar Foto</label>
                                    </div>
                                    <div class='button text-center'>
                                      <button type='submit' class='btn btn-primary'>
                                          Alterar foto de perfil
                                      </button>
                                    </div>
                                  </form>                            
                          </div>
                              
                          </div>
                        </div>
                  </div>

  
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                      <h2>Você tem <span>(0)</span> novas mensagens</h2>

                      <button class='btn btn-primary'>Ver mensagens</button>
                  </div>
                </div>
  
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                      <h2>Você tem (<span>0</span>) novos alertas</h2>
                  </div>
                </div>
                
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                      <div id='contain'>
                      <table class='table' style="width: 1000px;">
                          <thead class="thead-dark">
                          <tr>
                            <th>Título</th>
                            <th>Visualização</th>
                            <th>Status</th>
                            <th>Opções</th>
                          </tr>
                          <tr>
                            <td><a href="./announcement.html">E-commerce de roupas</a></td>
                            <td>gdfgd</td>
                            <td>rtyrtrty</td>
                            <td>trtyrtyr</td>
                          </tr>
                          <tr>
                              <td>Um título aleatório</td>
                              <td>ytrtyrtyrt</td>
                              <td>rtyrtrty</td>
                              <td>trtyrtyr</td>
                            </tr>
                            <tr>
                              <td>A vida é um caos aleatório,ordenada pelo tempo.</td>
                              <td>ytrtyrtyrt</td>
                              <td>rtyrtrty</td>
                              <td>trtyrtyr</td>
                            </tr>
                            <tr>
                              <td>A única forma de chegar ao impossível é acreditar que é possível.</td>
                              <td>ytrtyrtyrt</td>
                              <td>rtyrtrty</td>
                              <td>trtyrtyr</td>
                            </tr>
                            <tr>
                              <td>Ele é sábio, ele é absoluto, ele é Absolem.</td>
                              <td>ytrtyrtyrt</td>
                              <td>rtyrtrty</td>
                              <td>trtyrtyr</td>
                            </tr>
                            <tr>
                              <td>A cada um segundo, um segundo se passa.</td>
                              <td>ytrtyrtyrt</td>
                              <td>rtyrtrty</td>
                              <td>trtyrtyr</td>
                            </tr>
                            <tr>
                              <td>Última linha</td>
                              <td>ytrtyrtyrt</td>
                              <td>rtyrtrty</td>
                              <td>trtyrtyr</td>
                            </tr>
                        </table>
                      </div>
                  </div>
                </div>
  
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                          Criar anúncio
                      </div>
                    </div>
  
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body text-center">
                       <h2>Deseja realmente sair?</h2>

                       <div class='button text-center'>
                          <button class="btn btn-primary" id="headingClose" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Cancelar
                          </button>
                          <button class='btn btn-danger'> 
                              Sair
                          </button>
                      </div>
                      </div>
                    </div>
                  </div>
                  </section>
          </div>
          <!-- Modal para alterar dados -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLabel">Alterar dados pessoais</h5>
            </div>
            <div class="modal-body">
              <form action="/panel/user/update?_method=PUT" method="POST"  id='alter-user'>
                <div class="form-group">
                  <ul style='list-style: none;padding: 0;' id="erros2"></ul>
                  <label for="recipient-name" class="col-form-label">Nome</label>
                  <input type="text" name='nome' class="form-control" id="recipient-name" value="<%= user.nome %>">
                  <ul style='list-style: none;padding: 0;' id="erros0"></ul>
                </div>
                <div class="form-group">
                  <label for="recipient-surname" class="col-form-label">Sobrenome</label>
                  <input type="text" name='sobrenome' class="form-control" id="recipient-surname" value="<%= user.sobrenome %>">
                  <ul style='list-style: none;padding: 0;' id="erros1"></ul>
                </div>
                <div class="modal-footer">
                  <div>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id='fechar'>Fechar</button>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary" id='alter'>Alterar</button>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      </main>
      
<%- include('../partials/footer') %>
<script src="/js/formAlter.js"></script> 
<%- include('../partials/scripts') %> 