<%- include('../partials/header') %> 
    <!-- Inicio Tipo de Negócio -->
    <section id="businessType">
        <div class="" id="container">
            <h2 class="py-5 text-center">Escolha o tipo de negócio você deseja anunciar</h2>
            <!-- Primeira Linha  -->
            <div class="text-center" id="row">
            <% categories.forEach(category => { %>
                <div class="item">
                    <!-- Card -->
                    <div class="card business-card category-<%= category.id_categoria%>">
                        <div class="card-body business-card-body">
                            <h5 class="card-title text-center"><%= category.nome %></h5>
                            <!-- <p class="card-text text-center"><%= category.descricao %></p> -->
                             <!-- <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="<%= category.id_categoria %>"> -->
                        </div>
                    </div>
                    <!-- Fim do Card  -->
                </div>
            <% }); %>
            </div>
            <!-- Fim -->
        </div>
    </section>
    <!-- Fium Tipo de Negócio -->

    <!-- Inicio Plano Mensal -->
    <section id="monthly-plan" class="py-5">
        <div class="container pb-4">
            <h2 class="mb-5 text-center">Agora, escolha um plano</h2>
            <!-- Primeira Linha  -->
            <article class='row'>
            <% plans.forEach(plan => { %>
                <div class="col-md-4 col-sm-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= plan.nome %></h5>
                            <h4 class='card-title'><%= `R$ ${plan.valor}` %><span class="card-title-period">/mês</span></h4>
                            <div class='card-text'>
                                <ul style='text-align: start;'>
                                    <li><%= `Quantidade de Anúncios: ${plan.numero_de_anuncios}` %></li>
                                    <li><%= `Fotos: ${plan.numero_de_fotos}` %></li> 
                                    <li>Prioridade na exibição</li>
                                </ul>
                            </div>
                            <a href="/plans/alter/sign/plan-<%= plan.nome %>"><button class="btn btn-primary button-select-plan" id="teste" data-key="<%= plan.id_plano %>">Selecionar Plano</button></a>
                        </div>
                    <!-- Fim do Card  --> 
                    </div>
                </div>
                <% }) %>
            </article>
            <!-- Fim da Primeira Linha -->
            <!-- <div class="text-center">
            <div id="message-error" class="text-danger mb-2"></div>
                <a href="" class="btn btn-success btn-lg btn-block" id="btn-submit">Avançar</a>
            </div>
        </div> -->
    </section>
    <!-- Fim Plano Mensal -->

    <!-- Fim Modal  -->
<script src="/js/selectionAnnounce.js"></script>
<%- include('../partials/footer') %> 
<%- include('../partials/scripts') %>   

</body>
</html>