<%- include('../partials/header') %> 
  
    <main>
      <section id=Announcement>
        <div class="">
          <div class="row" id="announce">
            <div class="" id="fotoAnuncio" background="">
              <div id="bg-anuncio">
                <div class="btn btn-md btn-primary my-5 px-4 category-<%=announce.categoria_id%>">
                  <a href="/announcements?id_category=<%= announce.categoria_id%>">
                    <%=announce.categoria.nome%>
                  </a>
                </div>
                <h3><%= announce.titulo %></h3>
                <h2 class="my-5 nformat"><%= announce.preco %></h2>
              </div>
            </div>

            <div id="description">
              <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h3>Descrição da Empresa</h3>
                  <p><%= announce.descricao %></p>
                </div>
                <div class="col-md-6">
                  <h3>Informações de Venda</h3>
                  <p>Valor de venda: <mark class="nformat"><%= announce.preco %></mark></p>
                  <p>Valor do Estoque (incluso no valor de venda): <mark class="nformat"><%=announce.valor_estimado_estoque%></mark></p>
                  <p>Motivo da Venda: <%=announce.motivo_venda%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3>Informações Financeiras</h3>
                  <p>Faturamento Bruto (mensal): <mark class="nformat"><%=announce.faturamento_mm%></mark></p>
                  <p>Lucro Médio (mensal): <mark class="nformat"><%=announce.lucro_mensal%></mark></p>
                </div>
                <div class="col-md-6">
                  <h3>Informações Adicionais</h3>
                  <p>Idade da Empresa: <mark><%= (new Date(new Date() - announce.data_fundacao).getFullYear())-1970%> anos</mark></p>
                  <p>Nº de Funcionários: <mark><%= announce.qtd_funcionarios%></mark></p>
                </div>
              </div>
            </div>
            </div>

            <div id="message" class="text-center">
              
              <h3>Envie uma mensagem para o anunciante</h3>

              <form action="/message/create/<%=announce.usuario_id%>/<%=announce.id_anuncio%>" class="my-4" id="formMessage" method="POST">
                <div class="form-row">
                  <div class="col-md-6 col-sm-12">
                    <input id="viewerName" type="text" class="form-control px-5" name="name" aria-label="Nome" placeholder="Nome">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <input id="viewerEmail" type="email" class="form-control px-5 py-3" name="email" aria-label="Email" placeholder="Email">
                  </div>
                </div>
                <div class="form-row">
                  <input type="hidden" value="<%=announce.usuario_id%>" id="viewerUser">
                  <input type="hidden" value="<%=announce.id_anuncio%>" id="viewAnnounce">
                  <div class="col-md-6 col-sm-12">
                    <input id="viewerCell" class="form-control px-5" type="text" placeholder="Celular">
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <input id="viewerTell" class="form-control px-5" type="text" placeholder="Telefone">
                  </div>
                </div>
                <div class="form-row">
                  <textarea class="form-control px-5 py-3" name="message" id="txtMessage" cols="30" rows="6" placeholder="Mensagem"></textarea>
                </div>
                <div class="form-row ">
                  <button id="btnSend" type="submit" class="btn btn-lg btn-primary">Enviar Mensagem</button>
                </div>
              </form>
              <div id='result-message'></div>

            </div>

            <div id="attention">
              <h3>Atenção: o Parse Ideas não se responsabiliza pela veracidade dessas informações. Os dados são de total responsabilidade do anunciante. Confira todos os detalhes antes de fechar negócio. Aja com cautela.</h3>
            </div>

          </div>
        </div>

      </section>
    </main>

    <script src="/js/formatNumber.js"></script>
    <%- include('../partials/footer') %> 
    <script src="/js/sendMessage.js"></script>
    <%- include('../partials/scripts') %> 
    

  </body>
  </html>
    